.video-container {
	width: 100vw;
	max-width: 100vw;
	height: 75vh;
	position: relative;
}
.info-projects {
	height: 7rem;
	border: solid 4px var(--mainColor);
	border-radius: 2px;
	padding: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;

	position: absolute;
}
h5.home-info {
	font-size: 3rem;
	margin: 0;
}
.home-info span {
	font-family: "ibm-bold";
}
.info-left {
	bottom: 3rem;
	left: 2rem;
}
.info-right {
	bottom: 3rem;
	right: 2rem;
}

.intro {
	width: 80%;
	margin: auto;
}
.process {
	padding: 0 3rem;
}
.process-elements {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
@media (min-width: 992px) {
	.process-elements {
		height: 50rem;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: unset;
	}
}
.process-element {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.down {
	justify-content: flex-end;
}
h5 span {
	color: var(--secondaryColor);
}
