.video-container {
	width: 100vw;
	max-width: 100vw;
	height: 75vh;
	position: relative;
}
.info-projects {
	height: 7rem;
	width: 100vw;
	padding: 0 5rem;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;

	position: absolute;
	bottom: 70%;
}
.info-box {
	border: solid 4px var(--mainColor);
	border-radius: 2px;
	padding: 2rem;
}
h5.home-info {
	font-size: 3rem;
	margin: 0;
}
.home-info span {
	font-family: "ibm-bold";
}

@media (min-width: 992px) {
	.info-projects {
		flex-direction: row;
		position: absolute;
		bottom: 3rem;
		gap: 0;
	}
}

.intro {
	width: 80%;
	margin: auto;
}
.process {
	padding: 0 3rem;
}
.process-elements {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
@media (min-width: 992px) {
	.process-elements {
		height: 50rem;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: unset;
	}
}
.process-element {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.down {
	justify-content: flex-end;
}
h5 span {
	color: var(--secondaryColor);
}

.logo-container {
	position: relative;
}

.home-logo-absolute {
	position: absolute;
	transform: none;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
	display: none;
}

@media (min-width: 992px) {
	.home-logo-absolute {
		position: absolute;
		top: 50%;
		left: 50%;

		transform: translate(-50%, -50%);
		display: inline;
	}
}
