.row {
	display: flex;
	justify-content: space-between;
}
.col-img {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.col-content {
	width: 50%;
	padding: 0 3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.col-content p {
	text-align: justify;
}
