.NavbarItems {
	background-color: var(--background);
	height: 80px;
	width: 100%;
	max-width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0;
}
.NavBarPadding {
	padding: 0 1rem;
}
@media (min-width: 992px) {
	.NavBarPadding {
		padding: 0 10rem;
	}
}
h1 span {
	color: var(--secondaryColor);
}

.menu-icon {
	display: block;
	cursor: pointer;
	color: var(--secondaryColor);
}
@media (min-width: 992px) {
	.menu-icon {
		display: none;
	}
}

.nav-menu {
	list-style: none;
	display: flex;
	flex-direction: row;
	gap: 2rem;
	position: absolute;
	top: -100%;
	transition: all 0.7s ease;
	border: none;
}
@media (min-width: 992px) {
	.nav-menu {
		position: static;
		padding: 0.7rem 1.7rem;
		border: solid 2px var(--mainColor);
		border-radius: 5px;
	}
}
.nav-menu.active {
	width: 100vw;
	height: 100vh;
	margin: 0;
	background: var(--background);
	top: 0;
	opacity: 1;
	transition: all 0.7s ease;
	z-index: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.nav-item {
	color: var(--secondaryColor);
	text-decoration: none;
	font-size: 3.5rem;
	padding-right: 0.5rem;
}
.separator {
	border-right: solid 1px;
	padding-right: 1.5rem;
}
.nav-item :hover {
	color: var(--mainColor);
	text-decoration: underline;
}
