footer {
	width: 100vw;
	height: auto;
	background-color: var(--secondaryColor);
	padding: 2rem 1rem;
	margin-top: 3rem;
}

.main-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.privacy-content {
	display: flex;
	justify-content: center;
}

footer h1 {
	color: var(--white);
}
a {
	color: var(--white);
	font-size: 2rem;
}
@media (min-width: 992px) {
	.main-content {
		height: 20rem;
		padding: 0 10rem;
		flex-direction: row;
		justify-content: space-between;
	}
}

.izq {
	display: flex;
	align-items: center;
	flex-direction: column;
}
.der {
	display: flex;
	align-items: center;
	gap: 1rem;
}
.der > * {
	cursor: pointer;
}

@media (min-width: 992px) {
	.izq {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
}

.footer-logo {
	height: 4rem;
	width: auto;
}
